In [1]:
#Import dependencies and setup data
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import os
import requests
import time

In [5]:
#Files to Load
#temp_data_to_load = ".../_data.csv"
#import API key if needed

heart_data_to_load = "resources/Heart_Disease_Mortality_Data.csv"
heart_data_pd = pd.read_csv(heart_data_to_load)
heart_data_pd.head()

,Year,LocationAbbr,LocationDesc,GeographicLevel,DataSource,Class,Topic,Data_Value,Data_Value_Unit,Data_Value_Type,Data_Value_Footnote_Symbol,Data_Value_Footnote,StratificationCategory1,Stratification1,StratificationCategory2,Stratification2,TopicID,LocationID,Location 1
0,2014,AK,Aleutians East,County,NVSS,Cardiovascular Diseases,Heart Disease Mortality,105.3,"per 100,000 population","Age-adjusted, Spatially Smoothed, 3-year Avera...",NaN,NaN,Gender,Overall,Race/Ethnicity,Overall,T2,2013,"(55.440626, -161.962562)"
1,2014,AK,Aleutians West,County,NVSS,Cardiovascular Diseases,Heart Disease Mortality,211.9,"per 100,000 population","Age-adjusted, Spatially Smoothed, 3-year Avera...",NaN,NaN,Gender,Overall,Race/Ethnicity,Overall,T2,2016,"(52.995403, -170.251538)"
2,2014,AK,Anchorage,County,NVSS,Cardiovascular Diseases,Heart Disease Mortality,257.9,"per 100,000 population","Age-adjusted, Spatially Smoothed, 3-year Avera...",NaN,NaN,Gender,Overall,Race/Ethnicity,Overall,T2,2020,"(61.159049, -149.103905)"
3,2014,AK,Bethel,County,NVSS,Cardiovascular Diseases,Heart Disease Mortality,351.6,"per 100,000 population","Age-adjusted, Spatially Smoothed, 3-year Avera...",NaN,NaN,Gender,Overall,Race/Ethnicity,Overall,T2,2050,"(60.924483, -159.749655)"
4,2014,AK,Bristol Bay,County,NVSS,Cardiovascular Diseases,Heart Disease Mortality,NaN,"per 100,000 population","Age-adjusted, Spatially Smoothed, 3-year Avera...",~,Insufficient Data,Gender,Overall,Race/Ethnicity,Overall,T2,2060,"(58.754192, -156.694709)"

In [6]:
#Describe does not work on this
heart_data_pd.describe()

          Year    Data_Value    LocationID
count  59076.0  32149.000000  59076.000000
mean    2014.0    349.306775  30946.267215
std        0.0    140.549773  16728.893538
min     2014.0      6.000000      0.000000
25%     2014.0    253.300000  18137.000000
50%     2014.0    340.000000  29208.000000
75%     2014.0    433.800000  46091.000000
max     2014.0   3000.900000  78030.000000

In [11]:
#To use Loc to list headers: dataframe.columns
heart_data_pd.columns

Index(['Year', 'LocationAbbr', 'LocationDesc', 'GeographicLevel', 'DataSource',
       'Class', 'Topic', 'Data_Value', 'Data_Value_Unit', 'Data_Value_Type',
       'Data_Value_Footnote_Symbol', 'Data_Value_Footnote',
       'StratificationCategory1', 'Stratification1', 'StratificationCategory2',
       'Stratification2', 'TopicID', 'LocationID', 'Location 1'],
      dtype='object')

In [14]:
#Select columns for merge
#selected = ["", "", ""]
#selected_df = data_file_pd[selected]
#selected_df.head()
selected = ['LocationAbbr', 'Data_Value']
selected_df = heart_data_pd[selected]
selected_df.head()

  LocationAbbr  Data_Value
0           AK       105.3
1           AK       211.9
2           AK       257.9
3           AK       351.6
4           AK         NaN